/* Default */
.container {
    font-family: Ubuntu, sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 22px;

    /*background: #303030;*/

    padding: 0;

    padding-top: 60px; /*to be changed dynamically*/
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    -webkit-animation-duration: 0.5s; /*1.15s;*/
    animation-duration: 0.5s; /*1.15s;*/
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    /*-webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;*/
    /*...*/
}
.header {
    background: #4F4F4F;
    padding-top: 20px;
    padding-bottom: 20px;
}
button {
    background: #6ABA36;
    box-shadow: 0px 8px 16px #000000;
    border-radius: 30px;
    border: none;
    color: inherit;
    padding: 8px 40px 8px 40px;
}

/* Route - feedbackmenu.html */
.header-route {
    box-shadow: 0px 8px 16px #000000;
    margin-bottom: 35px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.indicator {
    margin-right: 16px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.indicator.positive {
    background: #6ABA36;
}

.indicator.negative {
    background: #C81A1A;
}

.street {
    background: #4F4F4F;
    border-radius: 15px;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 22px;
    margin-bottom: 4px;
    margin-left: 7px;
    margin-right: 7px;
    text-align: left;
}

.street > div {
    display: inline-block;
}

.street-dropdown {
    margin-left: 23px;
    margin-right: 19px;
}

.points-bar {
    font-size: 22px;
    background: #6ABA36;
    border: 1px solid #303030;
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 22px;
}

/* Driving assessor - feedbackmenu.html */
#assessor {
    /*-webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
-webkit-animation-duration: 1.15s;
-webkit-animation-delay: 0s;
-webkit-animation-iteration-count: infinite;

animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
animation-duration: 1.15s;
animation-delay: 0s;
animation-iteration-count: infinite;*/
}
.header-element {
    background: #6ABA36;
}
#assessor .image img {
    width: 100%;
}
.header-tips {
    background: #4F4F4F;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}
.tips {
    margin-top: 50px;
    list-style-image: url('/android_asset/www/images/ellipse.png');
}
.tips li {
    text-align: left;
    line-height: 2em;
}
/*.tips li::after {
    position: absolute;
    content: "";
    background: #6ABA36;
    width: 21px;
    height: 21px;
    border-radius: 100%;
}*/
    
/* Step container - landingpage.html */
.header-appname {
    font-size: 30px;
    text-transform: uppercase;
    background: none;
}
.stepmenu {
    text-align: center;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 19px;
}
    .stepmenu .stepcircle {
        display: inline-block;
        background: #4F4F4F;
        width: 55px;
        height: 55px;
        border-radius: 100%;
        margin-left: 12px;
        margin-right: 12px;
    }
    .stepmenu .stepcircle.active {
        background: #7BD541;
    }

/* Step # - landingpage.html */
.explanation *:not(h2) {
    font-size: 26px;
}
.explanation p {
    padding-left: 30px;
    padding-right: 30px;
}
.explanation img {
    height: auto;
    width: 60vw;
}
    .explanation img.beercrate {
        margin-top: 10vh;
    }
    .explanation img.beer {
        width: auto;
        height: 30vh;
    }
.explanation ul {
    display: inline-block;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

/* Start/stopscreen - mainmenu.html */
#startstopscreen {
    /*...*/
}
    #startstopscreen img.beer {
        width: auto;
        height: 40vh;
    }

#startstop {
    background: #6ABA36;
    border: 5px solid #428616;
    box-shadow: 0px 12px 12px #090909;
    border-radius: 100%;
    height: 25vh;
    width: 25vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    margin-bottom: 10vh;
}
    #startstop p {
        font-size: 2em;
        line-height: 25vh;
        margin-top: 0;
        margin-bottom: 0;
    }

/* Scorescreen - mainmenu.html */
#scorescreen .beercrate {
    height: auto;
    width: 50vw;
}
#beerflasks .beerflask {
    width: auto;
    height: 20vh;
}

/* Swipe indicator */
#swipeindicator {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 19px;
}

#swipeindicator .ball {
    display: inline-block;
    background: #959595;
    width: 13px;
    height: 13px;
    border-radius: 100%;
}

#swipeindicator .ball.active {
    background: #ffffff;
}