/* Default */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #303030;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.app {
    padding: 0;
}

/* Main */
.container {
    font-family: Ubuntu, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
}
.header {
    background: #4F4F4F;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
    text-transform: capitalize;
}
button, 
.button {
    background: #6ABA36;
    box-shadow: 0px 8px 16px #000000;
    border-radius: 30px;
    border: none;
    color: inherit;
    padding: 8px 40px 8px 40px;
    font-size: 26px;
    text-decoration: none;
}

/* Route - feedbackmenu.html */
#routeviewer {
    /*display: grid;*/
    /*grid-template-rows: auto auto;*/
    /*justify-items: center;*/
    /*align-items: center;*/
}
.header-route {
    box-shadow: 0px 8px 16px #000000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
    .header-route img {
        height: 1em;
        padding-left: 1em;
        align-self: center;
    }
    .header-route span {
        padding-right: 1em;
    }
#streettracks {
    display: grid;
    grid-gap: 4px;
    width: 100%;
}
.street {
    background: #4F4F4F;
    border-radius: 15px;
    padding-top: 24px;
    padding-bottom: 22px;
    margin-left: 7px;
    margin-right: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
}
.indicator {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
    .indicator.positive {
        background: #6ABA36;
    }
    .indicator.negative {
        background: #C81A1A;
    }
.street-dropdown {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    display: none;
    flex-direction: column;
}
.points-bar {
    font-size: 20px;
    background: #6ABA36;
    border: 1px solid #303030;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    white-space: nowrap;
    /*height: 60px;*/
    text-transform: capitalize;
}
    .points-bar.positive {
        background: #6ABA36;
    }
    .points-bar.negative {
        background: #C81A1A;
    }

/* Overview - feedbackmenu.html */
#routeviewer #overview {
    background-color: #4F4F4F;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 75vh;
    overflow-y: scroll;
}
    #routeviewer #overview > div {
        width: 80%;
        align-self: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    #routeviewer #overview > div:not(#swipebar) {
        /*background: #303030;*/
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        margin-bottom: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        /*width: 80%;*/
        /*align-self: center;*/
        display: grid;
        grid-template: 
            "number track"   auto
            "number date"    auto /
            2em     auto;
        grid-column-gap: 15px;
    }
        #routeviewer #overview div.high {
            background: #6ABA36;
        }
        #routeviewer #overview div.medium {
            background: #FFA500;
        }
        #routeviewer #overview div.low {
            background: #C81A1A;
        }

        #routeviewer #overview div .tracknumber {
            grid-area: number;
            font-size: 2em;
            place-self: center;
        }
        #routeviewer #overview div .track {
            grid-area: track;
        }
        #routeviewer #overview div .date {
            grid-area: date;
        }

/* Swipe bar */
#swipebar {
    background-color: #4F4F4F;
    width: 100%;
    box-shadow: 0px 8px 16px #000000;
    margin-bottom: 7px;
    display: grid;
    height: 5vh;

}
    #swipebar #bar {
        background-color: #ffffff;
        height: 5px;
        place-self: center;
        padding-left: 20px;
        padding-right: 20px;
        width: 80%;
    }

/* Driving assessor - feedbackmenu.html */
.assessor {
    grid-template-rows: auto 56.25vw auto auto auto;
}
#speed {
    grid-template-rows: auto 56.25vw auto auto auto auto;
}
.header-element {
    background: #6ABA36;
}
.assessor .image img {
    width: 100vw;
    display: block;
}
.header-tips {
    background: #4F4F4F;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}
.tips {
    justify-self: start;
}
    .tips ul li {
        line-height: 2em;
        display: flex;
        align-items: center;
    }
    .tips ul li .indicator {
        width: 1em;
        height: 1em;
        margin-right: 10px;
    }
#next {
    align-self: end;
}
    
/* Step container - landingpage.html */
.header-appname {
    font-size: 30px;
    text-transform: uppercase;
    background: none;
}
.stepmenu {
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
}
    .stepmenu .step-box {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        background: #4F4F4F;
        border-radius: 5px;
        height: 55px;
        min-width: 55px;
    }
        .stepmenu .step-box .stepcircle {
            line-height: 55px;
            border-radius: 0;
            height: 55px;
            width: 55px;
            font-size: 1.4em;
            font-weight: normal;
        }
            .stepmenu .step-box .stepcircle.done {
                display: block;
                background: #7BD541;
            }
            .stepmenu .step-box .stepcircle:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            .stepmenu .step-box .stepcircle:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            .stepmenu .step-box .stepcircle.active {
                font-size: 1.65em;
                font-weight: bold;
                background-color: #6ABA36;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

/* Step # - landingpage.html */
.explanation {
    margin: 15px;
}
    /*.explanation *:not(h2) {
        font-size: 26px;
    }*/
    /*.explanation p {
        padding-left: 30px;
        padding-right: 30px;
    }*/
    .explanation h2,
    .explanation p {
        text-align: center;
    }
    .explanation img {
        height: auto;
        /*width: 60vw;*/
        width: 15vw;
    }
        .explanation img.beer {
            width: 25vw;
        }
        /*.explanation img.beercrate {
            margin-top: 10vh;
        }
        .explanation img#beer {
            width: auto;
            height: 30vh;
        }
    .explanation ul {
        display: inline-block;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }*/
    .explanation .grid {
        display: grid;
    }
        .explanation .grid > div {
            display: flex;
            align-self: center;
            align-items: center;
        }

#step1 .grid {
    grid-template: 
        "feedback   beer    fill"   auto
        "score      score   score"  auto /
            auto       auto    auto;
}
    #step1 .grid div .trianglearrow {
        width: auto;
        height: 2em;
    }
    #step1 .grid div:nth-child(1) {
        grid-area: feedback;
        justify-self: end;
    }
        #step1 .grid div:nth-child(1) .trianglearrow {
            transform: rotate(180deg);
        }
    #step1 .grid div:nth-child(2) {
        grid-area: beer;
        display: block;
        place-self: center;
    }
    #step1 .grid div:nth-child(3) {
        grid-area: score;
        justify-self: center;
        flex-direction: column;
    }
        #step1 .grid div:nth-child(3) .trianglearrow {
            transform: rotate(90deg);
        }
    #step1 .grid div:nth-child(4) {
        grid-area: fill;
        justify-self: start;
    }
        #step1 .grid div:nth-child(4) .trianglearrow {
            transform: rotate(360deg);
        }

#step2 .grid {
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
}
    #step2 .grid .previewbutton {
        box-shadow: 0px 12px 12px #090909;
        border-radius: 100%;
        height: 10vh;
        width: 10vh;
    }
        #step2 .grid .previewbutton p {
            text-align: center;
            font-size: 1em;
            line-height: 10vh;
            margin-top: 0;
            margin-bottom: 0;
        }
    #step2 .grid #start {
        background: #6ABA36;
        border: 5px solid #428616; 
    }
    #step2 .grid #stop {
        background: #C81A1A;
        border: 5px solid #AE1717;
    }

#step3 .grid {
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}
    #step3 .grid img {
        width: 5vw;
    }
        #step3 .grid img.crate {
            width: 50vw;
            justify-self: center
        }

#step4 .grid {
    grid-template: 
        "tap    tap     tap"    auto 
        "beer1   arrow   beer2"   auto / 
        auto    auto    auto;
    grid-column-gap: 5px;
    margin-bottom: 40px;
}
    #step4 .grid img {
        align-self: center;
    }
        #step4 .grid img:nth-child(1) {
            grid-area: tap;
            justify-self: start;
            transform: scale(-1, 1);
        }
        #step4 .grid img:nth-child(2) {
            grid-area: beer1;
        }
        #step4 .grid img:nth-child(3) {
            grid-area: arrow;
        }
        #step4 .grid img:nth-child(4) {
            grid-area: beer2;
        }

/* Start/stopscreen - mainmenu.html */
#startstopscreen {
    grid-template-rows: 40vh 60vh;
}
    #startstopscreen img#beer {
        width: auto;
        height: 40vh;
    }

#json{
    display: none;
}

#startstop {
    background: #6ABA36;
    border: 5px solid #428616;
    box-shadow: 0px 12px 12px #090909;
    border-radius: 100%;
    height: 25vh;
    width: 25vh;
}
    #startstop p {
        font-size: 2em;
        line-height: 25vh;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

/* Tap - mainmenu.html */
#beertap {
    justify-self: end;
}
    #beertap #tap {
        width: 60vw;
    }

#beerglass #beer {
    animation-duration: 1.4s;
    /*transition: width 2s;*/
}

/* Scorescreen - mainmenu.html */
#beerflasks {
    display: flex;
    justify-content: space-evenly;
}
    #beerflasks .beerflask {
        width: auto;
        height: 20vh;
    }
#beercrate .crate {
    height: auto;
    width: 50vw;
}

/* Swipe indicator */
#swipeindicator {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 19px;
}
    #swipeindicator .ball {
        display: inline-block;
        background: #959595;
        width: 13px;
        height: 13px;
        border-radius: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    }
    #swipeindicator .ball.active {
        background: #ffffff;
        transition: background-color 0.5s ease;
        transition-delay: 0.15s;
    }