/* Default */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #303030;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.app {
    padding: 0;
}
/* Main */
.container {
    font-family: Ubuntu, sans-serif;
    color: #ffffff;
    /*text-align: center;*/
    font-weight: bold;
    font-size: 22px;
    padding: 0;
    padding-top: 80px; /* to be changed dynamically */
    /*-webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    -webkit-animation-duration: 0.5s; 
    animation-duration: 0.5s; 
    -webkit-animation-delay: 0s;
    animation-delay: 0s;*/
    /*-webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;*/
    display: grid;
    /*grid-template-columns: 100vw;*/
    align-items: center;
    justify-items: center;
}
.header {
    background: #4F4F4F;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
}
button, 
.button {
    background: #6ABA36;
    box-shadow: 0px 8px 16px #000000;
    border-radius: 30px;
    border: none;
    color: inherit;
    padding: 8px 40px 8px 40px;
    font-size: 26px;
    text-decoration: none;
}

/* Route - feedbackmenu.html */
#routeviewer {
    /*display: grid;*/
    /*grid-template-rows: auto auto;*/
    /*justify-items: center;*/
    /*align-items: center;*/
}
.header-route {
    box-shadow: 0px 8px 16px #000000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
#streettracks {
    display: grid;
    grid-gap: 4px;
    width: 100%;
}
.street {
    background: #4F4F4F;
    border-radius: 15px;
    /*padding-left: 16px;*/
    padding-top: 24px;
    padding-bottom: 22px;
    /*margin-bottom: 4px;*/
    margin-left: 7px;
    margin-right: 7px;
    /*text-align: left;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.indicator {
    /*margin-right: 16px;*/
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
    .indicator.positive {
        background: #6ABA36;
    }
    .indicator.negative {
        background: #C81A1A;
    }
.street-dropdown {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    display: none;
    flex-direction: column;
}
.points-bar {
    font-size: 20px;
    background: #6ABA36;
    border: 1px solid #303030;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    white-space: nowrap;
    /*height: 60px;*/
    text-transform: capitalize;
}
/*.header-route {
    box-shadow: 0px 8px 16px #000000;
    margin-bottom: 35px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.indicator {
    margin-right: 16px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.indicator.positive {
    background: #6ABA36;
}

.indicator.negative {
    background: #C81A1A;
}

.street {
    background: #4F4F4F;
    border-radius: 15px;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 22px;
    margin-bottom: 4px;
    margin-left: 7px;
    margin-right: 7px;
    text-align: left;
}

.street > div {
    display: inline-block;
}

.street-dropdown {
    margin-left: 23px;
    margin-right: 19px;
}

.points-bar {
    font-size: 22px;
    background: #6ABA36;
    border: 1px solid #303030;
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 22px;
}*/

/* Driving assessor - feedbackmenu.html */
.assessor {
    grid-template-rows: auto 56.25vw auto auto auto;
}
#speed {
    grid-template-rows: auto 56.25vw auto auto auto auto;
}
.header-element {
    background: #6ABA36;
}
.assessor .image img {
    width: 100vw;
    display: block;
}
.header-tips {
    background: #4F4F4F;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}
.tips {
    /*margin-top: 50px;*/
    /*list-style-image: url('/android_asset/www/images/ellipse.png');*/
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-self: start;
}
    .tips ul li {
        line-height: 2em;
        display: flex;
        align-items: center;
    }
    .tips ul li .indicator {
        width: 1em;
        height: 1em;
        margin-right: 10px;
    }
#next {
    align-self: end;
}
    
/* Step container - landingpage.html */
.header-appname {
    font-size: 30px;
    text-transform: uppercase;
    background: none;
}
/*.stepmenu {
    text-align: center;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 19px;
}
    .stepmenu .stepcircle {
        display: inline-block;
        background: #4F4F4F;
        width: 55px;
        height: 55px;
        line-height: 55px;
        border-radius: 100%;
        margin-left: 12px;
        margin-right: 12px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
        .stepmenu .stepcircle.active {
            background: #7BD541;
            transition: background-color 0.5s ease;
            transition-delay: 0.15s;
        }*/
.stepmenu {
    text-align: center;
    /*min-width: 55px;*/
    padding-top: 19px;
    padding-bottom: 19px;
}
    .stepmenu .step-box {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        background: #4F4F4F;
        border-radius: 55px;
        height: 55px;
        min-width: 55px;
    }
        .stepmenu .step-box .stepcircle {
            line-height: 55px;
            border-radius: 0;
            /*border-radius: 55px;*/
            /*display: none;*/
            height: 55px;
            width: 55px;
            font-size: 1.4em;
            font-weight: normal;
        }
            .stepmenu .step-box .stepcircle.done {
                display: block;
                background: #7BD541;
                /*font-weight: bold;*/
            }
            .stepmenu .step-box .stepcircle:first-child {
                /*border-top-left-radius: 55px;
                border-bottom-left-radius: 55px;*/
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            .stepmenu .step-box .stepcircle:last-child {
                /*border-top-right-radius: 55px;
                border-bottom-right-radius: 55px;*/
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            .stepmenu .step-box .stepcircle.active {
                font-size: 1.65em;
                font-weight: bold;
                /*border-top-right-radius: 55px;
                border-bottom-right-radius: 55px;*/
                background-color: #6ABA36;
                /*border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;*/
                /*border-radius: 5px;*/
            }

/* Step # - landingpage.html */
.explanation {
    text-align: center;
}
    .explanation *:not(h2) {
        font-size: 26px;
    }
    .explanation p {
        padding-left: 30px;
        padding-right: 30px;
    }
    .explanation img {
        height: auto;
        width: 60vw;
    }
        .explanation img.beercrate {
            margin-top: 10vh;
        }
        .explanation img.beer {
            width: auto;
            height: 30vh;
        }
    .explanation ul {
        display: inline-block;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

/* Start/stopscreen - mainmenu.html */
#startstopscreen {
    /*...*/
}
    #startstopscreen img.beer {
        width: auto;
        height: 40vh;
    }
#startstop {
    background: #6ABA36;
    border: 5px solid #428616;
    box-shadow: 0px 12px 12px #090909;
    border-radius: 100%;
    height: 25vh;
    width: 25vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    margin-bottom: 10vh;
}
    #startstop p {
        font-size: 2em;
        line-height: 25vh;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

/* Scorescreen - mainmenu.html */
#scorescreen .beercrate {
    height: auto;
    width: 50vw;
}
#beerflasks .beerflask {
    width: auto;
    height: 20vh;
}

/* Swipe indicator */
#swipeindicator {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 19px;
}
    #swipeindicator .ball {
        display: inline-block;
        background: #959595;
        width: 13px;
        height: 13px;
        border-radius: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    }
    #swipeindicator .ball.active {
        background: #ffffff;
        transition: background-color 0.5s ease;
        transition-delay: 0.15s;
    }